<%= form_with url: recipes_search_path, method: :get, local: true do |f| %>
  <%= f.text_field :q, placeholder: "食材を入力" %>
  <%= f.submit "検索" %>
<% end %>


<h2>検索結果: <%= @query %></h2>

<% if @recipes.present? %>
  <ul>
    <% @recipes.each do |recipe| %>
      <li>
        <h3><%= recipe["title"] %></h3>
        <img src="<%= recipe["image"] %>" alt="<%= recipe["title"] %>" width="200">
        <pre><%= JSON.pretty_generate(recipe) %></pre>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>該当するレシピが見つかりませんでした。</p>
<% end %>
